*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background: url(../imagen/software.jpg);
        
}
.parrafo {
    font-size: 60px;
}
#cuadro{
    width: 330px;
    background: black;
    color:yellow;
    margin: auto;
    margin-top: 50px;
    border-top: 35px solid green;
    border-right: 35px solid blue ;
    border-left: 35px solid yellowgreen;
    border-bottom: 35px solid yellowgreen; 
    border-radius: 8px;
    opacity: 0.8;
}
.entrada{
    width:  300px;
    height: 20px;
    border-radius: 6px;
    font-family:verdania;
    font-weight: 900;
}q
#boton{
    width:  140px;
    height: 40px;
    border-radius: 6px;
    background: red;
    font-size: 20px;
    font-family:verdania;
    font-weight: 1000;
    color:white;
}
#titilo{
    font-size: 40px;
    font-family:verdania;
    font-weight: 900; 
}
#subtitulo1{
    font-size: 30px;
    font-family:verdania;
    padding-left: 50px;
    color: wheat;
}
#subtitulo2{
    font-size: 30px;
    font-family:verdania;
    padding-left: 80px;
    color: violet;
}
#marca{
    font-size: 30px;
    padding-left: 200px;
    font-weight: 900;
}


